<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="myDashboard" content="" />

    <title>CHANGE PASSWORD</title>
  </head>

  <body class="bg-gradient-primary">
    <form th:action="@{__${postPath}__}" method="POST" class="newPassword">
      <div class="form-group row">
        <h1>EDIT PASSOWRD</h1>
        <input
          type="password"
          class="form-control form-control-user"
          name="currentPassword"
          placeholder="Current Password"
          th:value="${currentPassword}"
        />
        <input
          type="password"
          class="form-control form-control-user"
          name="newPassword"
          placeholder="New Password"
          th:value="${newPassword}"
        />
        <input
          type="password"
          class="form-control form-control-user"
          name="confirmNewPassword"
          placeholder="Confirm New Password"
          th:value="${confirmNewPassword}"
        />
      </div>
      <button type="submit">DONE!</button>
    </form>
    <br />
    <a class="button" th:href="@{__${defaultDashboardPath}__}"
      >GO BACK TO DASHBOARD</a
    >
  </body>
</html>
