<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Billetera virtual" />
    <meta name="author" content="Grupo 4 Javaneta" />

    <title>Cotizaciones - AgroPay</title>

    <!-- FontAwesome JS-->
    <script
      defer
      th:src="@{/assets/plugins/fontawesome/js/all.min.js}"
    ></script>

    <!-- App CSS -->
    <link
      id="theme-style"
      rel="stylesheet"
      th:href="@{/assets/css/portal.css}"
    />

    <!-- AJAX -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body class="app">
    <header
      sec:authorize="hasRole('CUSTOMER')"
      th:replace="fragments :: header"
    ></header>
    <header
      sec:authorize="hasRole('EMPLOYEE')"
      th:replace="fragmentsEmployee :: headerAdminEmployee"
    ></header>
    <header
      sec:authorize="hasRole('ADMIN')"
      th:replace="fragmentsEmployee :: headerAdminEmployee"
    ></header>

    <div class="app-wrapper">
      <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
          <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
              <h1 class="app-page-title mb-0">Cotizaciones</h1>
            </div>
          </div>
          <!--//row-->

          <div class="tab-content" id="orders-table-tab-content">
            <div
              class="tab-pane fade show active"
              id="orders-all"
              role="tabpanel"
              aria-labelledby="orders-all-tab"
            >
              <div class="app-card app-card-orders-table shadow-sm mb-5">
                <div class="app-card-body">
                  <div class="table-responsive">
                    <table
                      class="table app-table-hover mb-0 text-left"
                      id="tablaCoins"
                    >
                      <thead>
                        <tr>
                          <th class="cell"></th>
                          <th class="cell"></th>
                          <th class="cell">Siglas</th>
                          <th class="cell">Nombre</th>
                          <th class="cell">Precio(dólar)</th>
                          <th class="cell">Volumen(24h)</th>
                          <th class="cell">Valor(24h%)</th>
                          <th class="cell">Valor(7d%)</th>
                          <th class="cell">Diferencia</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                  <!--//table-responsive-->
                </div>
                <!--//app-card-body-->
              </div>
              <!--//app-card-->
            </div>
            <!--//tab-pane-->
          </div>
        </div>
        <!--//container-fluid-->
      </div>
      <!--//app-content-->

      <footer class="app-footer">
        <div class="container text-center py-3"></div>
      </footer>
      <!--//app-footer-->
    </div>
    <!--//app-wrapper-->

    <!-- Javascript -->
    <script th:src="@{/assets/plugins/popper.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>

    <!-- API -->
    <script th:src="@{assets/js/scriptGets.js}"></script>

    <!-- Page Specific JS -->
    <script th:src="@{/assets/js/app.js}"></script>
  </body>
</html>
