<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="myDashboard" content="" />

    <title>EDIT PROFILE</title>
  </head>

  <body class="bg-gradient-primary">
    <form
      th:action="@{/profile/edit}"
      method="POST"
      class="customer"
      th:object="${customer}"
    >
      <input th:value="${customer.id}" type="hidden" />
      <div class="form-group row">
        <h1>DNI</h1>
        <input
          type="number"
          class="form-control form-control-user"
          name="dni"
          placeholder="dni"
          th:value="${customer.dni}"
        />
        <h1>DATE OF BIRTH</h1>
        <input
          type="date"
          class="form-control form-control-user"
          name="dateOfBirth"
          placeholder="Fecha de Nacimiento"
          th:value="${customer.dateOfBirth}"
        />

        <h1>ADDRESS</h1>
        <input th:value="${customer.address.id}" type="hidden" />
        <input
          type="number"
          class="form-control form-control-user"
          name="houseNumber"
          placeholder="Numero"
          th:value="${customer.address.houseNumber}"
        />
        <input
          type="text"
          class="form-control form-control-user"
          name="street"
          placeholder="Calle"
          th:value="${customer.address.street}"
        />
        <input
          type="text"
          class="form-control form-control-user"
          name="postCode"
          placeholder="Codigo Postal"
          th:value="${customer.address.postCode}"
        />
        <input
          type="text"
          class="form-control form-control-user"
          name="city"
          placeholder="Ciudad"
          th:value="${customer.address.city}"
        />

        <h1>FULL NAME</h1>
        <input th:value="${customer.name.id}" type="hidden" />
        <input
          type="text"
          class="form-control form-control-user"
          name="firstName"
          placeholder="Nombre"
          th:value="${customer.name.firstName}"
        />
        <input
          type="text"
          class="form-control form-control-user"
          name="middleName"
          placeholder="Nombre mitad"
          th:value="${customer.name.middleName}"
        />
        <input
          type="text"
          class="form-control form-control-user"
          name="lastName"
          placeholder="Apellido"
          th:value="${customer.name.lastName}"
        />

        <h1>CONTACT DETAILS</h1>
        <input th:value="${customer.contact.id}" type="hidden" />
        <input
          type="number"
          class="form-control form-control-user"
          name="phoneNumber"
          placeholder="Telefono"
          th:value="${customer.contact.phoneNumber}"
        />
        <input
          type="email"
          class="form-control form-control-user"
          name="email"
          placeholder="Email"
          th:value="${customer.contact.email}"
        />
        <h1>LOGIN DETAILS</h1>
        <input th:value="${customer.login.id}" type="hidden" />
        <input
          type="password"
          class="form-control form-control-user"
          name="password"
          placeholder="Constraseña"
          th:value="${customer.login.password}"
        />
        <input
          type="text"
          class="form-control form-control-user"
          name="username"
          placeholder="Username"
          th:value="${customer.login.username}"
        />
      </div>
      <button type="submit">SAVE</button>
    </form>
    <form
      method="post"
      th:action="@{/keeper/publishers/delete/__${publisher.idPublisher}__}"
    >
      <input
        th:value="*{aboutPublisher.idDescription}"
        type="hidden"
        name="idDescription"
      />
      <button class="btn btn-dark mt-3" type="submit">DELETE</button>
    </form>
    <br />
    <a class="button" th:href="@{/myDashboard}">GO BACK TO DASHBOARD</a>
  </body>
</html>
