<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="payee" content="" />

    <title>Registro Contacto Frecuente</title>

    <!-- Custom fonts for this template -->
    <link
      th:href="@{/vendor/fontawesome-free/css/all.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link
      th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gradient-primary">
    <h1>GOODBYE WORLD ;-;</h1>
    <div th:object="${customer}">
      <h2 th:text="|Hi ${customer.username}!|"></h2>
      <h3>FULL NAME:</h3>
      <p
        th:text="|${customer.firstName} ${customer.middleName} ${customer.lastName}|"
      ></p>
      <h3>DATE OF BIRTH:</h3>
      <p th:text="${customer.dateOfBirth}"></p>
      <h3>ADDRESS:</h3>
      <p th:text="|${customer.houseNumber} ${customer.street}|"></p>
      <p th:text="${customer.postCode}"></p>
      <p th:text="|${customer.city}, ${customer.country}|"></p>
      <h3>CONTACT DETAILS:</h3>
      <p th:text="|PhoneNumer: ${customer.phoneNumber}|"></p>
      <p th:text="|EmailAddress: ${customer.email}|"></p>
    </div>
    <br />
    <a class="button" th:href="@{/profile/edit}">EDIT PROFILE</a>
    <br />
    <a class="button" th:href="@{/logout}">LOGOUT</a>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script
      th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"
    ></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
  </body>
</html>
