<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="payee" content="" />

    <title>Registro Contacto Frecuente</title>

    <!-- Custom fonts for this template -->
    <link
      th:href="@{/vendor/fontawesome-free/css/all.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link
      th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gradient-primary">
    <!-- <div th:include="/show.html::header" ></div>-->

    <div th:if="${logout}" class="container mt-4 text-center">
      <div class="row col-md-4 mx-auto">
        <div th:text="${logout}" class="alert alert-success m-0 shadow"></div>
      </div>
    </div>
    <div class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block"></div>
            <!-- bg-register-image -->
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Log in to your Account</h1>
                </div>

                <form
                  autocomplete="off"
                  id="registerForm"
                  class="needs-validation authenticationFormContainer"
                  method="post"
                  novalidate
                  th:action="@{/login/check}"
                >
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <label for="username">USERNAME *</label>
                      <input
                        class="col-12 form-control p-3"
                        id="username"
                        required
                        name="username"
                        type="text"
                      />
                      <label for="userPassword">PASSWORD *</label>
                      <input
                        class="col-12 form-control p-3 fw-bold"
                        id="userPassword"
                        required
                        name="password"
                        type="password"
                      />
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary btn-user btn-block"
                  >
                    CONTINUE
                  </button>
                </form>
                <a class="button" th:href="@{/register}">JOIN NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script
      th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"
    ></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
  </body>
</html>
