<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    <span>
        <title>Menu </title>

        <!-- Custom fonts for this template -->
        <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template -->
        <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

        <!-- Custom styles for this page -->
        <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

        </head>

        <body id="page-top">

            <!-- Page Wrapper -->

            <div id="wrapper">

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <!-- Navigation todo contenido en carpeta SHOW 
                        <div th:include="/show.html::header" ></div>-->
                        <!-- End of Topbar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h1 class="h3 mb-2 text-gray-800">Lista de <span th:text="${title1}"></h1>
                            <p class="mb-4">Aqui encontrara toda las funcionalidades de esta lista <a target="_blank"

                                                                                                      <!-- DataTales Example -->
                                                                                                      <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <a class="m-0 font-weight-bold text-primary" th:href="@{__${href1}__/__${href}__}"><h6>+ Agregar nuev<span th:text="${title}"></h6></a>

                                        </div>

                                        <div class="card-body">

                                            <div class="table-responsive"><input type="radio" name="funcion" value="1" checked>Todos  
                                                <input type="radio" name="funcion" value="2" >Habilitados  
                                                <input type="radio" name="funcion" value="3" >Deshabilitados  
                                                <div class="alert alert-success alert-dismissible" th:if="${exito != null}" th:text="${exito}"></div>
                                               
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">


                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Nombre</th>
                                                            <th>Numero de Cuenta</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="obej : ${listaOb}">
                                                            <td th:text="${obej.id}"></td>
                                                            <td th:text="${obej.name}"></td>
                                                            <td th:text="${obej.accountNumber}"></td>

                                                            <td > 
                                                                <a   class="btn btn-info btn-circle btn-sm" th:href="@{__${href1}__/update/__${obej.id}__}" title="Modificar">  <i class="fas fa-info-circle"></i> </a>
                                                                <div th:switch="${obej.active}">
                                                                    <a  th:case="true" class="btn btn-danger btn-circle btn-sm" th:href="@{__${href1}__/delete/__${obej.id}__}" title="Deshabilitar" >  <i class="fas fa-trash"></i> </a>
                                                                    <a  th:case="false" class="btn btn-success btn-circle btn-sm" th:href="@{__${href1}__/active/__${obej.id}__}" title="Habilitar" >  <i class="fas fa-check"></i> </a>
                                                                </div>

                                                            </td>        
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                        </div>
                        <!-- /.container-fluid -->

                    </div>
                    <!-- End of Main Content 

                    <div th:include="/show.html::footer" ></div>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>


            <!-- Bootstrap core JavaScript-->
            <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
            <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

            <!-- Core plugin JavaScript-->
            <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

            <!-- Custom scripts for all pages-->
            <script src="@{/js/sb-admin-2.min.js}"></script>

            <!-- Page level plugins -->
            <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
            <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

            <!-- Page level custom scripts -->
            <script th:src="@{/js/demo/datatables-demo.js}"></script>
        </body>

</html>