<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="myDashboard" content="" />

    <title>HOME</title>
  </head>

  <body class="bg-gradient-primary">
    <h2 th:text="|Hi ${username}!|"></h2>
    <br />
    <a class="button" th:href="@{/workDashboard/myData}">MY PROFILE</a>
    <br />
    <div sec:authorize="hasRole('EMPLOYEE')">
      <a class="button" th:href="@{/workDashboard/registerCustomer}"
        >REGISTER A CLIENT</a
      >
      <br />
      <a class="button" th:href="@{/myData}">EDIT A CLIENT</a>
      <br />
    </div>
    <div sec:authorize="hasRole('ADMIN')">
      <a class="button" th:href="@{/workDashboard/addEmployee}"
        >ADD AN EMPLOYEE</a
      >
      <br />
      <a class="button" th:href="@{/workDashboard/myData}"
        >UPDATE AN EMPLOYEE</a
      >
      <br />
    </div>
    <a class="button" th:href="@{/logout}">LOGOUT</a>
  </body>
</html>
